.cache
node_modules
public

# Source plugins are essentially forks of community plugins.
# They contain loads of violations unnecessary to fix.
packages/gatsby-source-drupal-jsonapi-eci
packages/gatsby-source-eci-remote-initiatives

# Utilities for local development
/scripts

# Were not worth the effots to lint
src/context
gatsby-browser.js
gatsby-ssr.js

# netlify functions
api
