.cache
node_modules
public

# Source plugins are essentially forks of community plugins.
# They contain loads of violations unnecessary to fix.
packages/gatsby-source-drupal-jsonapi-eci

# Utilities for local development
/scripts
