.cache
node_modules
public

# Source plugins are essentially forks of community plugins.
# They contain loads of violations unnecessary to fix.
packages/gatsby-source-drupal-jsonapi-eci

# Were not worth the effots to lint
src/context
gatsby-browser.js
gatsby-ssr.js

__mocks__